@model IEnumerable<CRUDEmpleados.Models.Entities.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-user-plus"></i> Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Nombre
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a class="text-success" asp-action="Edit" asp-route-id="@item.EmpleadoId"><i class="fas fa-user-edit"></i> Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EmpleadoId"><i class="fas fa-search-plus"></i> Detalle</a> |
                <a class="text-danger m-1" asp-action="Delete" asp-route-id="@item.EmpleadoId"><i class="fas fa-user-minus"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
